/* Color palette */
:root {
    --navblue: #0084fd;
    --jumbocard: #b5ddff;
    --jumbotitle: #0084fd;
    --jumbotext: #5a6e7f;
    --purplesection: #9792e4;
    --footerbg: #333333;
}

body {
    width: 100%;
    height: auto;
    margin: auto;
}
 /* TO DO: change button style */

/************************************************
Site Header 
************************************************/

/* Navbar */

nav {
    height: 75px;
    width: 100%;
    background-color: var(--navblue);
}

nav .navbar {
    height: 100%;
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    height: 50%;
}

nav ul {
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;

}

nav li {
    height: 100%;
    padding-left: 1rem;
}

nav a {
    height: 100%;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: row;
}

nav .btn {
    height: 50%;
    color: black;
    background-color: white;
    padding-inline: 1rem;
    border-radius: 2rem;
}

.jumbo {
    height: auto;
    width: 100%;
    background-color: white;
}

.jumbo .content {
    width: 1140px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 3rem;
    padding-bottom: 3rem;
    gap: 1rem;
}

.jumbo .card {
    background-color: var(--jumbocard);
    height: 345px;
    border-radius:1rem;
}

.jumbo .card-l {
    max-width: calc((100% - 1rem)/ 3 * 2);
    display: flex;
}

.jumbo .card-s {
    max-width: calc((100% - 2rem) / 3);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card-l .container {
flex: 0 0 50%;
display: flex;
flex-direction: column;
justify-content: space-evenly;
}

.card-s i {
    color: var(--jumbotitle);
    font-size: 4rem;
}

.jumbo h3 {
    color: var(--jumbotitle);
}

.jumbo .card-text {
    color: var(--jumbotext);
}

.jumbo button {
    color: white;
    background-color: var(--jumbotitle);
}

.jumbo img {
    min-width: 0;
}

/************************************************
Site Main 
************************************************/

section {
    height: 1000px;
    width: 100%;
}

section:nth-child(odd) {
    background-color: var(--purplesection);
}

/* Planning Section */

.planning .container {
    width: 900px;
    height: auto;
    margin: auto;
    display: flex;
}

.planning .container-left,
.planning .container-right {
    flex: 0 0 50%;
    height: auto;
}

.planning .container-right {
    background-color: white;
    border-radius: 3rem;
}

.planning img {
    width: 100%;
}


/************************************************
Site Footer 
************************************************/

footer {
    background-color: var(--footerbg);
}

footer .container {
    max-width: 500px;
    height: auto;
    margin: auto;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

footer .upper-footer {
    margin-bottom: 4rem;
}

footer .highlight {
    color: var(--purplesection);
    text-decoration: underline;
}