/* Color palette */
:root {
    --navblue: #0084fd;
    --jumbocard: #a6e6f3;
}

body {
    width: 1920px;
    height: auto;
}
 /* TO DO: change button style */

/************************************************
Site Header 
************************************************/

/* Navbar */

nav {
    height: 75px;
    width: 100%;
    background-color: var(--navblue);
}

nav ul {
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
}

nav li {
    height: 100%;
}

nav a {
    height: 100%;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: row;
}

nav button {
    height: 100%;
    color: black;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.jumbo {
    height: 875px;
    width: 100%;
    background-color: white;
}

.jumbo .content {
    width: 1140px;
    height: 100%;
    background-color: salmon;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.jumbo .card {
    background-color: var(--jumbocard);
    height: 345px;
}

.jumbo .card-l {
    width: calc(100% / 3 * 2);
}

.jumbo .card-s {
    width: calc(100% / 3);
}
