/* Color palette */
:root {
    --navblue: #0084fd;
    --jumbocard: #b5ddff;
    --jumbotitle: #0084fd;
    --jumbotext: #5a6e7f;
    --purplesection: #9792e4;
    --footerbg: #333333;
}

body {
    width: 100%;
    height: auto;
    margin: auto;
}
 /* TO DO: change button style */

/************************************************
Site Header 
************************************************/

/* Navbar */

nav {
    height: 75px;
    width: 100%;
    background-color: var(--navblue);
}

nav .navbar {
    height: 100%;
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    height: 50%;
}

nav ul {
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;

}

nav li {
    height: 100%;
    padding-left: 1rem;
}

nav a {
    height: 100%;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: row;
}

nav .btn {
    height: 50%;
    color: black;
    background-color: white;
    padding-inline: 1rem;
    border-radius: 2rem;
}

.jumbo {
    height: auto;
    width: 100%;
    background-color: white;
}

.jumbo .content {
    width: 1140px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 3rem;
    padding-bottom: 3rem;
    gap: 1rem;
}

.jumbo .card {
    background-color: var(--jumbocard);
    height: 345px;
    border-radius:1rem;
}

.jumbo .card-l {
    max-width: calc((100% - 1rem)/ 3 * 2);
    display: flex;
}

.jumbo .card-s {
    max-width: calc((100% - 2rem) / 3);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card-l .container {
flex: 0 0 50%;
display: flex;
flex-direction: column;
justify-content: space-evenly;
}

.card-s i {
    color: var(--jumbotitle);
    font-size: 4rem;
}

.jumbo h3 {
    color: var(--jumbotitle);
}

.jumbo .card-text {
    color: var(--jumbotext);
}

.jumbo button {
    color: white;
    background-color: var(--jumbotitle);
}

.jumbo img {
    min-width: 0;
}

/************************************************
Site Main 
************************************************/

section {
    height: 1000px;
    width: 100%;
}

section:nth-child(odd) {
    background-color: var(--purplesection);
}

/* Planning Section */

.planning .container {
    width: 900px;
    height: auto;
    margin: auto;
    display: flex;
}

.planning .container-left,
.planning .container-right {
    flex: 0 0 50%;
    height: auto;
}

.planning .container-right {
    background-color: white;
    border-radius: 3rem;
}

.planning img {
    width: 100%;
}

/* Testimonials Section */

.testimonials .container {
    height: auto;
    max-width: 900px;
    margin: auto;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.testimonials h1 {
    font-size: 0.75rem;
    padding-bottom: 1.5rem;
    font-weight: 200;
}

.testimonials h2 {
    font-size: 2rem;
    color: var(--purplesection);
    padding-bottom: 1.5rem;
}

.testimonials p {
    padding-bottom: 1.5rem;
}

.testimonials .card {
    height:200px;
    width: 100%;
    background-color: var(--purplesection);
    display: flex;
    align-items: center;
    border-radius: 2rem;
    margin-bottom: 1rem;
}

 .testimonials img {
  width: 150px;
  height: 150px;
  min-width: 0;
  border-radius: 100%;
  object-fit: cover;
} 

.testimonials .left {
    flex: 0 0 20%;
}

.testimonials .right {
    display: flex;
    flex-direction: column;
    flex: 0 0 80%;
    text-align: left;
    padding-inline: 2rem;
    color: white;
}

.testimonials cite {
    font-style: normal;
}

.testimonials .author {
    margin-top: 1rem;
    font-weight: 600;
}

/* Features Section */

.features .container {
    width: 1000px;
    height: auto;
    margin: auto;
}

.features .cards {
    display: flex;
    gap: 1rem;
    width: 100%;
    flex-wrap: wrap;
}

.features .card {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: auto;
    width: calc((100% - 2rem) / 3);
    padding: 1rem 1rem 1rem;
    border-radius: 1rem;
}

.features h1 {
    font-size: 2rem;
    color: white;
    text-align: center;
}

.features .number {
    font-size: 3rem;
    font-weight: 800;
    color: var(--purplesection)
}

.features .feature {
    font-size: 1rem;
    font-weight: 800;
    color: var(--purplesection);
    margin-bottom: 1rem;
}

.features p {
    color: black;
    font-size: 0.75rem;
    margin-bottom: 1rem;
}

/* Get Started Section */

.get-started .container {
    max-width: 600px;
    height: auto;
    margin: auto;
    color: white;
    text-align: center;
}

.get-started h1 {
    font-weight: 100;
    font-size: 1rem;
}

.get-started h2 {
    font-size: 2rem;
}

.get-started h3 {
    font-size: 3rem;
    color: gold;
}

.get-started p,
.get-started .copyrights {
    font-size: 0.75rem;
}

.get-started button {
    display: block;
    align-items: center;
}

/************************************************
Site Footer 
************************************************/

footer {
    background-color: var(--footerbg);
}

footer .container {
    max-width: 500px;
    height: auto;
    margin: auto;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

footer .upper-footer {
    margin-bottom: 4rem;
}

footer .highlight {
    color: var(--purplesection);
    text-decoration: underline;
}